if SHIELD_MANTARAY_PRO_WIRELESS_LEFT

config ZMK_KEYBOARD_NAME
    default "Mantaray Pro W"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MANTARAY_PRO_WIRELESS_LEFT || SHIELD_MANTARAY_PRO_WIRELESS_RIGHT

config ZMK_SPLIT
    default y

endif