/*
 * Copyright (c) 2025 Colton Hawkins
 *
 * SPDX-License-Identifier: MIT
 */

#include "mantaray_pro_wireless.dtsi"


&default_transform { // Offset of 3 because the left side has 3 columns
    col-offset = <6>;
};
